<div class="container-fluid">
    <form id="ajax_form" name="ajax_form" class="form-inline row justify-content-center" method='post' action="">
        <div class="mt-3 row">
            <div class="col-sm-auto">
                <input type="text" class="form-control" placeholder="Region" id="s_region" name="s_region"
                       autocomplete="off" autofocus="true">
                <span id="help-region" class="bmd-help"></span>
            </div>
            <div class="col-sm-auto">
                <input type="text" class="form-control" placeholder="Locality" id="s_locality" name="s_locality">
                <span id="help-locality" class="bmd-help"></span>
            </div>
            <div class="col-sm-auto">
                <input type="text" class="form-control" placeholder="Street" id="s_street" name="s_street">
                <span id="help-street" class="bmd-help"></span>
            </div>
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-raised btn-dark btn-md" id="b_search">Search</button>
            </div>
            <div class="spinner-border text-dark"></div>
        </div>
    </form>
    <div class="container mt-3">
        <div class="row content">
            <div class="col-4">
                <div id="list-result" class="list-group border pt-0">
                </div>
            </div>
            <div class="col-8 border map p-0" id="map">

            </div>
        </div>
    </div>
</div>